[Desktop Entry]
Name=banana9
Version=1.0
Exec={{ banana_dst_run }}
Icon=banico
Type=Application
Categories=Office;
Terminal=false
MimeType=application/ac2;application/x-banana-extension-ac2;application/vnd.banana-accounting;
